h1{
    text-align: center;
    color:brown;
    text-transform:uppercase;
    text-decoration-line: underline;
    text-decoration-color: black;
    text-decoration-style: solid;
    text-shadow: 2px 0px 5px black;
}

a{
    text-decoration: none;
    color: #008CBA;
}

.heading{
    cursor: pointer;
}

.footer{
    text-align: center;
    width: 100%;
    height: 100px;
    margin-top:20px;
    padding: 30px;
    border: 3px solid gray;
    border-radius: 5px;
    box-sizing:border-box;
}